* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
.primary-color {
  color: #fd6e0a;
}
.btn {
  padding: 14px 35px 14px 36px;
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

/*todo // Header and navigation styles */
header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, center left;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 100px 55px 150px;
}
.nav-title {
  font-size: 45px;
  font-weight: bold;
}
.nav-title span {
  color: #fd6e0a;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

/**! Banner Styles**/
.banner {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 5;
  color: #474747;
}
.title {
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 15px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 30px;
  width: 450px;
}
.banner img {
  margin-right: -119px;
  background-size: cover;
}
.download-btn {
  padding: 14px 30px;
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
i.fa-solid.fa-download,
.fa-phone {
  margin-right: 7px;
}
.contact-btn {
  padding: 14px 30px;
  background-color: transparent;
  color: #fd6e0a;
  font-weight: 700;
  border: solid 1px #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 15px;
}

/** Main Section width */
main {
  max-width: 1120px;
  margin: 0 auto;
}
/*! About Section Style  */

.about {
  margin-top: 130px;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 100px 156px;
}
.about-content-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}
.about-description {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  text-align: center;
}
.about-section-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  text-align: center;
  color: #757575;
  font-size: 20px;
}
.info-description {
  text-align: center;
  font-weight: 700;
  color: #474747;
  font-size: 18px;
}

/*! what i do section  */
.what-i-do {
  margin-top: 130px;
  margin-bottom: 100px;
}
.skill-container {
  display: flex;
  justify-content: space-around;
}
.skill {
  padding: 30px 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  margin: 0 10px;
  border-radius: 5px;
}
.skill-title {
  color: #474747;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 600;
}
.skill-description {
  color: #757575;
  font-size: 14px;
}

/*! Resume section style  */
.about-title {
  margin-bottom: 110px;
  margin-top: 100px;
  text-align: center;
  font-size: 35px;
}
.resume-content {
  display: flex;
}
.resume-title {
  font-size: 30px;
  font-weight: 600;
  margin: 0 10px;
}
.resume-item {
  margin: 20px 10px;
}
.res-title {
  font-size: 22px;
  color: #474747;
  margin-top: 10px;
  margin-bottom: 5px;
}
.res-sub-title {
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
}
.res-description {
  font-size: 14px;
  color: #474747;
  margin-bottom: 30px;
}
.download-cv-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*! Footer section style */
footer {
  background-color: #fff8f3;
  padding: 130px 0;
}
.footer-container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-content {
}
.footer-content-title {
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-content-description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
}
.socil-icon {
}
.socil-icon ul {
}
.socil-icon ul li {
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
}
.socil-icon ul li i {
  color: #fd6e0a;
}

.footer-form {
  margin-left: 20px;
}
.form-title {
}
form input,
textarea {
  width: 100%;
  padding: 15px 0 15px 15px;
  margin: 8px 0;
  border: none;
}
.form-submit-btn {
  padding: 14px 30px;
  background-color: #fd6e0a;
  color: #fff;
  font-weight: 500;
  border: solid 1px #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}
